name: Test Jupyter Translate

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 5 * * 2' # This will run every Tuesday at 5:00 UTC

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11, 3.12]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-cov
    - name: Install the package
      run: pip install -e .
    - name: Run unit tests
      run: |
        pytest tests/test_unit.py -v
    - name: Run integration tests
      run: |
        pytest tests/test_integration.py -v
    - name: Test EN to PT CLI Command
      run: jupyter_translate test_Notebook_en.ipynb --target pt
    - name: Test PT to EN CLI Command
      run: jupyter_translate test_Notebook_pt.ipynb --source pt --target en
